<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<head>
<title>설문조사 등록</title>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"   background="img/pop_bg.gif">

<form name="form1" >
<TABLE cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr height="42">
		<td style="padding-left:12px;padding-top:3px" valign="middle">
          <IMG src="img/bullet_11.gif" border="0" align="absmiddle"> 
          <font color="000000"><B>설문항목 등록</B></font>
        </td>
	</tr>
	<tr>
		<td style="padding-left:5;padding-right:5px">
		<TABLE cellpadding="0" cellspacing="0" border="0" width="100%" width="394">
			<tr>
				<td colspan="3" bgcolor="FFFFFF" style="padding:10 10 3 10px" align="center">
				<!-- 내용 시작 -->

				  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr> 
					  <td></td>
					  <td height="30" align="right" valign="middle" style="padding-top:10px"> 
					  <input type="button" name="" value="항목추가" id = "addE">
					  <input type="button" name="" value="항목삭제" id = "delE">
					  <td>
					</tr>
				  </table>
				  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
				   <tr>
						<td align="top">
							<table cellPadding="0" cellspacing="1" width="100%" border="0" id="extable">
								<colgroup bgcolor="F6F6F6"></colgroup>
								<colgroup></colgroup>
								<tr>
									<td width="111" height="24" align="center" bgcolor="f6f6f6"><strong>항목선택</strong>
									</td>
									<td align="center" class="facebg2">
									   <select name="sel" id = "sel">
										 <option value="0">보기를 선택하거나 아래 창에서 직접 입력 </option>
										 <option value="1">5 Scale
										 <option value="2">5 Scale [기호,선호]
										 <option value="3">5 Scale [구매 의도]
										 <option value="4">5 Scale [신념]
										 <option value="5">5 Scale [평가]
										 <option value="6">Yes/No
										 <option value="7">찬성/반대
										</select>
									</td>
								</tr>
						
								</table>
						</td>
					</tr>
					<tr>
					  <td height="32" align="right" valign="bottom" style="padding-right:5px">
					  <input type="button" name="" value="반영" id="complete1">
					  <input type="button" name="" value="취소" id="cancel1" onclick="self.close()">
					  </td>
					</tr>
				</table>
				<!-- 내용 끝 -->
				</td>
			</tr>
		</TABLE>
		</td>
	</tr>
</TABLE>
  
<script>
  
var rowNum = 0;
var hashValue = location.hash.substring(1); 

// window.onload = function() {

// 	var xxx = window.opener.document.getElementById('exec' + flag).value;
// 	console.log(xxx);
// }

$('#complete1').on("click", function() {
  
      var x =0;
      var result = "";
  
      $('.op').each(function(){

          if(this.value != ""){
              result += this.value;
              result += '\n';
              x++;
          }
       });
                 
        
        if(x<2){
            alert("보기는 최소 2문항 이상 입력하세요");
            return;
        }

		var flag = "exce" + hashValue;
        var parent = $(window.opener.document).find("select[name='"+flag+"']");

        var oOption = opener.document.createElement("oOption");

        $('.op').each(function(){

          if(this.value != ""){
              result = this.value;
              oOption.text = result;
    		  oOption.value = result;
    		  // parent.options.add(oOption);
			  parent.append("<option>" + result + "</option>");
          }
       });
  		
  		 window.close();
  
});  
  
$('#cancel').on("click", function() {
  
  self.close();
});

  
$('#addE').on("click", function(){
  
   $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> '+ (rowNum+1) + '</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex' + (rowNum+1) + '\" size=\"20\"></td>' + 
								'</tr>');
  rowNum++;
  
}); 
  
$("#delE").on("click", function() { 
    
    if(rowNum > 3) {
      $('#extable tr:last').remove();
      rowNum--;
    }
    
  });
  
  
$("#sel").on("change", function() {

  var selectVal = $('#sel option:selected').val();
  
  if(rowNum > 1) {
    for(i=0; i<rowNum; i++){
      $('#extable tr:last').remove();
    }
    rowNum = 0;
  }else {
      rowNum += 5;
  }

  rowNum = 5;
  switch(parseInt(selectVal)) {
    case 1:  
      $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 좋음\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"좋음\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"보통\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"나쁨\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 나쁨\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
      break;
    case 2: 
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 좋다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"좋다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"그저 그렇다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"싫다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 싫다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;
    case 3:
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"꼭 산다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"산다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"잘 모르겠다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"안산다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"절대 안산다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;
    case 4:
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"확실히 그렇다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"그렇다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"보통이다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아니다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"절대 아니다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;
    case 5:
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 우수하다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"우수하다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"보통이다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"형편없다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아주 형편없다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;
    case 6:
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"찬성\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"반대\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"모르겠다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;
    case 7:
          $('#extable > tbody:last').append('		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 1</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"그렇다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex1\" size=\"20\"></td>' + 
								'</tr>'+
                                '		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 2</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" value = \"아니다\"style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex2\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 3</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\"  value = \"잘 모른다\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex3\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 4</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\"  style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex4\" size=\"20\"></td>' + 
								'</tr>'+
                              	'		<tr align=\"center\">'+
								    '<td align=\"center\" class=\"\" height=\"24\"><span><b>보기</b> 5</span></td>'+
									'<td align=\"center\" class=\"facebg2\"><input class = \"op\" type=\"text\" style=\"WIDTH:250px;ime-mode:active;\" maxlength=\"25\" name=\"ex5\" size=\"20\"></td>' + 
								'</tr>');
              
      break;   
    default:
      rowNum = 0;
      break;
  }
  
  


  });  
  
  
  
  
</script>
